<style>
    #alpha-components-others .layui-card-header {
        font-weight: 600;
    }

    #alpha-components-others p {
        margin-bottom: 10px
    }
    #alpha-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #alpha-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim alpha-anim" id="alpha-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 alpha-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge alpha-tag-green">alpha-tag-green</span>
                        <span class="layui-badge alpha-tag-magenta">alpha-tag-magenta</span>
                        <span class="layui-badge alpha-tag-orange">alpha-tag-orange</span>
                        <span class="layui-badge alpha-tag-red">alpha-tag-red</span>
                        <span class="layui-badge alpha-tag-volcano">alpha-tag-volcano</span>
                        <span class="layui-badge alpha-tag-gold">alpha-tag-gold</span>
                        <span class="layui-badge alpha-tag-lime">alpha-tag-lime</span>
                        <span class="layui-badge alpha-tag-cyan">alpha-tag-cyan</span>
                        <span class="layui-badge alpha-tag-blue">alpha-tag-blue</span>
                        <span class="layui-badge alpha-tag-geekblue">alpha-tag-geekblue</span>
                        <span class="layui-badge alpha-tag-purple">alpha-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge alpha-bg-green">.alpha-bg-green</span>
                        <span class="layui-badge alpha-bg-magenta">alpha-bg-magenta</span>
                        <span class="layui-badge alpha-bg-orange">alpha-bg-orange</span>
                        <span class="layui-badge alpha-bg-red">alpha-bg-red</span>
                        <span class="layui-badge alpha-bg-volcano">alpha-bg-volcano</span>
                        <span class="layui-badge alpha-bg-gold">alpha-bg-gold</span>
                        <span class="layui-badge alpha-bg-lime">alpha-bg-lime</span>
                        <span class="layui-badge alpha-bg-cyan">alpha-bg-cyan</span>
                        <span class="layui-badge alpha-bg-blue">alpha-bg-blue</span>
                        <span class="layui-badge alpha-bg-geekblue">alpha-bg-geekblue</span>
                        <span class="layui-badge alpha-bg-purple">alpha-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="alpha-alert-base alpha-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="alpha-alert-base alpha-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="alpha-alert-base alpha-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="alpha-alert-base alpha-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
